In [1]:
import pandas as pd
import numpy as np

/home/renan/Área de Trabalho/research-project/py37/lib/python3.7/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

### Join pickle parts in dataframe

In [2]:
df = pd.DataFrame()
for i in range(0, 13):
    part = pd.read_pickle(f'../data/part_{i}.pkl')
    df = df.append(part, ignore_index=True)

#### Get 50 samples random FA

In [6]:
df.iloc[0].data

'[[  12.32360346   11.05944774   12.68010915 ...  -54.95309708\n   -51.23672805  -68.05280898]\n [  48.73432321   40.09146921   32.50264536 ... -152.70998665\n  -135.8704147  -127.31961418]\n [  35.54186557   28.83042307   19.9283566  ...  -98.1021864\n   -84.75836604  -59.24418885]\n ...\n [  17.54086624   23.42183126   27.5121561  ... -155.8445699\n  -121.53346774 -103.65669255]\n [  14.5476005    17.61244739   24.39066709 ... -127.37326776\n  -116.52692868 -109.2852498 ]\n [ 168.01760311  166.04661354  160.22620219 ...    6.56060149\n     2.90965183    1.67243378]]'

In [8]:
df[df.diagnostic == 'SR']

,filename,inf,sup,data,db,diagnostic
83968,JS39828.mat,1750,2000,"[[237.9966395935174, 256.9782597095393, 269.55...",databases,SR
286469,HR16219.mat,0,250,"[[9.250543903690236, 56.60116792796241, 106.01...",databases,SR
130593,A4526.mat,1500,1750,"[[71.8184939168681, 70.96365972844673, 69.3090...",databases,SR
253696,HR12253.mat,1750,2000,"[[144.0066574237678, 173.47299499835918, 209.7...",databases,SR
199738,HR05765.mat,2250,2500,"[[-47.67170499457362, -19.86627349720458, -32....",databases,SR
...,...,...,...,...,...,...
308698,HR18939.mat,2250,2500,"[[-40.16797066449827, -42.409213808409845, -44...",databases,SR
306371,HR18654.mat,500,750,"[[-51.48686351908005, -70.19114117157837, -84....",databases,SR
158424,HR00915.mat,1250,1500,"[[-36.7280623625614, -26.21199411477894, -24.8...",databases,SR
254229,HR12315.mat,0,250,"[[12.960585205688535, -41.18561151880605, -64....",databases,SR
322422,HR20676.mat,750,1000,"[[-39.23074893054348, -37.57909787667053, -43....",databases,SR